absl-py==2.4.0
asgiref==3.11.1
astunparse==1.6.3
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
beautifulsoup4==4.14.3
blinker==1.9.0
cbor2==6.1.2
certifi==2026.5.20
cffi==2.0.0
channels==3.0.5
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
constantly==23.10.4
cryptography==48.0.0
daphne==3.0.2
dj-database-url==3.1.2
Django==6.0.5
django-cors-headers==4.9.0
django-jazzmin==3.0.4
django-restframework==0.0.1
djangorestframework==3.17.1
et_xmlfile==2.0.0
filelock==3.29.1
fire==0.7.1
Flask==3.1.3
flask-cors==6.0.2
flatbuffers==25.12.19
gast==0.7.0
gdown==6.1.0
geographiclib==2.1
geopy==2.4.1
google-pasta==0.2.0
grpcio==1.81.0
gunicorn==26.0.0
hyperlink==21.0.0
idna==3.18
ImageIO==2.37.3
Incremental==24.11.0
insightface==1.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
lazy-loader==0.5
libclang==18.1.1
lightdsa==0.0.3
lightecc==0.0.6
lightphe==0.0.25
lz4==4.4.5
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
msgpack==1.1.2
namex==0.1.0
networkx==3.6.1
numpy==2.2.6
onnx==1.22.0
onnxruntime==1.27.0
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.19.1
packaging==26.2
pandas==3.0.3
pillow==12.2.0
protobuf==7.35.0
psycopg2-binary==2.9.12
py-ubjson==0.16.1
pycparser==3.0
Pygments==2.20.0
pyOpenSSL==26.2.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
qrcode==8.2
requests==2.34.2
rich==15.0.0
scikit-image==0.26.0
scipy==1.18.0
service-identity==26.1.0
setuptools==82.0.1
six==1.17.0
soupsieve==2.8.4
sqlparse==0.5.5
sympy==1.14.0
termcolor==3.3.0
tifffile==2026.6.1
tqdm==4.68.0
Twisted==26.4.0
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2026.2
ujson==5.12.1
urllib3==2.7.0
Werkzeug==3.1.8
wheel==0.47.0
whitenoise==6.12.0
wrapt==2.2.1
zope.interface==8.5
